<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Importierte Regel 1">
                    <match url="^(.*)\.html" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}\.php" />
                </rule>
                <rule name="Importierte Regel 2">
                    <match url="^account/logout(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="logout.php" />
                </rule>
                <rule name="Importierte Regel 120">
                    <match url="^hall/inicio(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="hall.php" />
                </rule>
				<rule name="Importierte Regel 99">
                    <match url="^hall/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="hall-user.php?user=$1" />
                </rule>
                <rule name="Importierte Regel 3">
                    <match url="^articles(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="articles.php" />
                </rule>
                <rule name="Importierte Regel 4">
                    <match url="^articles/(.*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./articles.php?web-articles-id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 5">
                    <match url="^captcha(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Importierte Regel 6">
                    <match url="^captcha/monofont.ttf(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Importierte Regel 7">
                    <match url="^comunidade/criadores(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="criadores.php" />
                </rule>
                <rule name="Importierte Regel 8">
                    <match url="^client(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="client.php" />
                </rule>
                <rule name="Importierte Regel 9">
                    <match url="^clientutils(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="clientutils.php" />
                </rule>
                <rule name="Importierte Regel 10">
                    <match url="^community(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="community.php" />
                </rule>
                <rule name="Importierte Regel 11.1">
                    <match url="^comunidade/staff(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="staff.php" />
                </rule>
                <rule name="Importierte Regel 11">
                    <match url="^community/socialmedia(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="socialmedia.php" />
                </rule>
                <rule name="Importierte Regel 11b">
                    <match url="^community/fansites(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="fansites.php" />
                </rule>
                <rule name="Importierte Regel 12">
                    <match url="^community/vip(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="vip.php" />
                </rule>
                <rule name="Importierte Regel 13">
                    <match url="^community/xler(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="xler.php" />
                </rule>
                <rule name="Importierte Regel 14">
                    <match url="^community/topstats(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="topstats.php" />
                </rule>
                <rule name="Importierte Regel 15">
                    <match url="^credits(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="credits.php" />
                </rule>
                <rule name="Importierte Regel 16">
                    <match url="^community/regeln(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="regeln.php" />
                </rule>
                <rule name="Importierte Regel 17">
                    <match url="^credits/habboclub(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="club.php" />
                </rule>
                <rule name="Importierte Regel 18">
                    <match url="^credits/pixels(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="pixel.php" />
                </rule>
                <rule name="Importierte Regel 19">
                    <match url="^credits/placas(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="placas.php" />
                </rule>
                <rule name="Importierte Regel 20">
                    <match url="^credits/shop/vip(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="compravip.php" />
                </rule>
                <rule name="Importierte Regel 21">
                    <match url="^credits/transactions(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./transactions.php" />
                </rule>
                <rule name="Importierte Regel 22">
                    <match url="^data_classes(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Importierte Regel 23">
                    <match url="^data_classes/server-data.php_data_classes-config.php.php(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Importierte Regel 24">
                    <match url="^data_classes/server-data.php_data_classes-core.php.php(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Importierte Regel 25">
                    <match url="^data_classes/server-data.php_data_classes-mus.php.php(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Importierte Regel 26">
                    <match url="^data_classes/server-data.php_data_classes-news.php.php(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Importierte Regel 27">
                    <match url="^data_classes/server-data.php_data_classes-session.php.php(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Importierte Regel 28">
                    <match url="^forgot(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="forgot.php" />
                </rule>
                <rule name="Importierte Regel 29">
                    <match url="^groups/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./groupsdata.php?web-group-id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 30">
                    <match url="^help(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="help.php" />
                </rule>
                <rule name="Importierte Regel 31">
                    <match url="^help/(..*)$" ignoreCase="false" />
                    <action type="Rewrite" url="./help.php?web-faq-id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 32">
                    <match url="^habblet/(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Importierte Regel 33">
                    <match url="^habblet/cproxy?habbletKey=news$" ignoreCase="false" />
                    <action type="Rewrite" url="client_news.php" />
                </rule>
                <rule name="Importierte Regel 34">
                    <match url="^status(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="status.php" />
                </rule>
                <rule name="Importierte Regel 35">
                    <match url="^comunidade/fansites(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="fansites.php" />
                </rule>
                <rule name="Importierte Regel 36">
                    <match url="^index(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" />
                </rule>
                <rule name="Importierte Regel 37">
                    <match url="^comunidade/articles(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="articles.php" />
                </rule>
                <rule name="Importierte Regel 38">
                    <match url="^maintenance(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="maintenance.php" />
                </rule>
                <rule name="Importierte Regel 39">
                    <match url="^me(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="me.php" />
                </rule>
                <rule name="Importierte Regel 40">
                    <match url="^myhabbo/rating/rate(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./myhabbo/rating_rate.php" />
                </rule>
                <rule name="Importierte Regel 41">
                    <match url="^sair(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="sair.php" />
                </rule>
                <rule name="Importierte Regel 42">
                    <match url="^rd/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./rd.php?id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 43">
                    <match url="^quickregister/back(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?cancal" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 44">
                    <match url="^quickregister/cancel(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?cancal" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 45">
                    <match url="^quickregister/start(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?stap=1" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 46">
                    <match url="^quickregister/start/error/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?stap=1&amp;errors={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 47">
                    <match url="^quickregister/age_gate_submit(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?stap=2" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 48">
                    <match url="^quickregister/email_password(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?stap=3" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 49">
                    <match url="^quickregister/email_password/error/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?stap=3&amp;errors={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 50">
                    <match url="^quickregister/email_password_submit(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?stap=4" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 51">
                    <match url="^quickregister/captcha(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?stap=5" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 52">
                    <match url="^quickregister/captcha/error/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?stap=5&amp;errors={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 53">
                    <match url="^quickregister/captcha_submit(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="/register.php?stap=6" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 54">
                    <match url="^papers/disclaimer(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="disclaimer.php" />
                </rule>
                <rule name="Importierte Regel 55">
                    <match url="^papers/privacy(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="privacy.php" />
                </rule>
                <rule name="Importierte Regel 56">
                    <match url="^profile(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="profile.php" />
                </rule>
                <rule name="Importierte Regel 57">
                    <match url="^profile/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./profile.php?web-profile-tab={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 58">
                    <match url="^community/tag(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./tag.php" />
                </rule>
                <rule name="Importierte Regel 59">
                    <match url="^tag/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./tag.php?tag={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 60">
                    <match url="^xml(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./error.php" />
                </rule>
                <rule name="Importierte Regel 61">
                    <match url="^xml/badge_data.xml(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Importierte Regel 62">
                    <match url="^error(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>
                <rule name="Importierte Regel 63">
                    <match url="^comunidade(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="community.php" />
                </rule>
                <rule name="Importierte Regel 64">
                    <match url="^manage/hotel/de/housekeeping(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="manage/hotel/de/housekeeping/index.php" />
                </rule>
                <rule name="Importierte Regel 65">
                    <match url="^manage/hotel/de/housekeeping/index/p/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./manage/hotel/de/housekeeping/index.php?p={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 66">
                    <match url="^groups/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./groupsdata.php?web-group-id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 67">
                    <match url="^help/([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="help.php?web-faq-id={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 68">
                    <match url="^habblet/cproxy(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="habblet/cproxy.php" />
                </rule>
                <rule name="Importierte Regel 69">
                    <match url="^habblet/cproxy?habbletKey=([^/]+)(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="./habblet/cproxy.php?habbletKey={R:1}" appendQueryString="false" />
                </rule>
                <rule name="Importierte Regel 70">
                    <match url="^r=" ignoreCase="false" />
                    <action type="Rewrite" url="refer.php" />
                </rule>
                <rule name="Importierte Regel 71">
                    <match url="^refer/" ignoreCase="false" />
                    <action type="Rewrite" url="refer.php" />
                </rule>
                <rule name="Importierte Regel 72">
                    <match url="^referidos(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="referidos.php" />
                </rule>
                <rule name="Importierte Regel 73">
                    <match url="^credits/rares(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="rares.php" />
                </rule>
                <rule name="Importierte Regel 74">
                    <match url="^tienda/vip(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="compravip.php" />
                </rule>
                <rule name="Importierte Regel 75">
                    <match url="^tienda/placas(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="placasvip.php" />
                </rule>
                <rule name="Importierte Regel 76">
                    <match url="^tienda/rares(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="raresvip.php" />
                </rule>
                <rule name="Importierte Regel 77">
                    <match url="^tienda(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="tiendavip.php" />
                </rule>
                <rule name="Importierte Regel 78">
                    <match url="^publicanos(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="publicanos.php" />
                </rule>
                <rule name="Importierte Regel 79">
                    <match url="^tienda/respetos(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="respetosvip.php" />
                </rule>
                <rule name="Importierte Regel 80">
                    <match url="^tienda/caballos(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="caballosvip.php" />
                </rule>
                <rule name="Importierte Regel 81">
                    <match url="^tienda/efectos(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="effectsvip.php" />
                </rule>
                <rule name="Importierte Regel 82">
                    <match url="^bots(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="bot.php" />
                </rule>
                <rule name="Importierte Regel 83">
                    <match url="^bots/editar(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="comp-bots-edit.php" />
                </rule>
                <rule name="Importierte Regel 84">
                    <match url="^bots/efectos(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="comp-bots-efectos.php" />
                </rule>
                <rule name="Importierte Regel 85">
                    <match url="^community/publicistas(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="publicistas.php" />
                </rule>
                <rule name="Importierte Regel 86">
                    <match url="^encuesta(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="encuesta.php" />
                </rule>
                <rule name="Importierte Regel 87">
                    <match url="^error(|/)$" ignoreCase="false" />
                    <action type="Rewrite" url="error.php" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
